
<div class="modal-header">
    <h3 class="modal-title">New Activity</h3>
</div>
<div class="modal-body">

    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name" ng-class="{deviceError: errorDevice}"/>
        </div>
        <div class="form-group">
            <input type="textarea" class="form-control" id="owner" placeholder="Short description" ng-model="description"/>
        </div>
    </form>

    <h6 ng-show="errorDevice" ng-class="{deviceErrorMessage: errorDevice}">Please fill in the Name of the device</h6>
    <!--"-->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveActivity()" >
        <span ng-show="!newActivity">Save</span>
        <span ng-show="newActivity">Add</span>
    </button>

    <button class="btn btn-warning" ng-click="cancelActivityModal()">Cancel</button>
</div>
