<div class="row" style="margin-top:50px;">
  <h4 class="text-center" style="margin-bottom:50px;">Welcome to Phobia Smart assistant</h4>

  <p class="text-center">This application will sugest differt ways to avoid panic sitution for you or your acquaintances.</p>
  <p class="text-center">For more information about a phobia, you can search it in the above search bar.</p>
  <p class="text-center">If you have any phobias and you didn't set them at registration, pleas set them in user page</p>
  <p class="text-center">Add the persons that you know and have phobias in the Persons page.</p>


</div>
