<div class="login">
  <div class="row content" style="margin-top:30px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <form class="form-signin" role="form">
              <h2 class="form-signin-heading text-center">PhoS</h2>
              <div class="form-group">
                <input type="text" class="form-control" name="email" ng-model="email" placeholder="Username" required autofocus="">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6"><button class="btn btn-lg btn-success btn-block" ng-click="register()">Register</button></div>
                  <div class="col-md-6"><button class="btn btn-lg btn-success btn-block" ng-click="login()">Login</button></div>
                </div>
              </div>
          </form>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>
