
<div class="row oneRowHeader">
  <h3>Persons</h3>
  <a class="pull-right" ng-click="newPersonModal()"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div class="row" ng-repeat="person in currentPersons" style="font-size:18px;margin-bottom:10px;">
  <div class="col-md-8" >
    <p><b>{{person.name}}</b></p>
    <!-- <div ng-repeat="phobia in person.phobias" style="margin-right:20px;">
      {{phobia.label}}
    </div> -->
  </div>
  <div class="col-md-4 buttonSpace" >
    <a ng-click="sugestionModal.show()"><span class="glyphicon glyphicon-info-sign"></span></a>
    <a><span class="glyphicon glyphicon-pencil"></span></a>
    <a><span class="glyphicon glyphicon-trash"></span></a>
  </div>

  <!-- <div class="pull-right">
    <a class="button button-icon icon ion-information" ng-click="sugestionModal.show()"></a>
    <a class="button button-icon icon ion-edit"></a>
    <a class="button button-icon icon ion-ios-trash"></a>
  </div> -->
</div>
