<div class="row" style="width:70%;margin:0 auto;">
  <div itemscope itemtype="http://schema.org/Person">
    <form role="form" ng-submit="submit()" name="logForm" style="margin-top:50px;">
      <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name *" ng-model="currentUser.name" itemprop="name"/> <!--required-->
      </div>
      <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email *" ng-model="currentUser.email" itemprop="email" />
      </div>
      <!-- <div class="form-group"> -->
      <select type="text"
          class="form-control selectButtonRow"
          ng-model="phobia"
          ng-options="phobia.label for phobia in phobias | orderBy:'phobia.label'" >
          <option value="">-Choose Phobias-</option> -->
          <option ng-repeat="phobia in phobias | orderBy:'phobia.label'" ng-model="phobia" value="phobia.phobia">{{phobia.label}}</option>
      </select>

      <a ng-click="addPhobiaToUser(phobia)" class="phobiaAddBtn"><span class="glyphicon glyphicon-ok"></span></a>
      <div class="row" style="margin-top:20px;" ng-repeat="label in phobiaLabels">
        <label style="display:inline; width:90%;margin-left:20px;">{{label}}</label>
        <a ng-click="removePhobiaFromUser($index)" class="phobiaAddBtn"><span class="glyphicon glyphicon-remove"></span></a>
      </div>
      <div class="row" style="margin-top:10px">
        <input type="submit" id="submit" class="btn btn-lg btn-success btn-block" value="Save"/>
      </div>
    </form>
  </div>
</div>



<div class="row infoPhobia" ng-repeat="p in userPhobiasInfo">
  <h3>{{p.label}}</h3>
  <p>{{p.info}}</p>
  <p> For more information click <a ng-href="{{p.link}}" target="_blank">here</a> </p>
</div>
