<div class="modal">
  <header class="bar bar-header bar-positive">
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    <h1 class="title">New Activity</h1>
    <div class="button button-clear" ><span class="icon ion-close"></span></div>
  </header>
  <content has-header="true" padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
  </content>
</div>
