<ion-modal-view>
  <ion-header-bar>
    <div class="button button-clear" ng-click="newPersonModal.hide()"><span class="icon ion-close"></span></div>
    <h1 class="title">New Person</h1>
    <div class="button button-clear" ><span class="icon ion-bookmark"></span></div>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Persons</span>
        <input type="text">
        <label class="item item-input item-select">
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
      </label>

    </div>
  </ion-content>
</ion-modal-view>
