<div class="oneRowHeader">
  <h3>Persons</h3>
  <a class="button button-icon icon ion-plus-round pull-right" ng-click="newPersonModal.show()"></a>
</div>

<div class="oneRowInfo">
    <p>Something here about the activitie so we can map. Something here about the activitie so we can map. Something here about the activitie so we can map.
    Something here about the activitie so we can map. Something here about the activitie so we can map. Something here about the activitie so we can map</p>
    <div class="pull-right">
      <a class="button button-icon icon ion-information" ng-click="sugestionModal.show()"></a>
      <a class="button button-icon icon ion-edit"></a>
      <a class="button button-icon icon ion-ios-trash"></a>
    </div>
</div>
